{% if page.cover %}
{% assign cover = page.cover %}
{% elsif site.cover %}
{% assign cover = site.cover %}
{% endif %}

<header class="main-header detail-page image-bg {% if cover %} has-cover" style="background-image: url({{ cover | prepend: site.github.url | prepend: site.baseurl}})" {% else %} no-cover" {% endif %}>
    <h1 class="page-title"><a href="{{ site.github.url}}/" title="{{ site.title }}">{{ site.title }}</a></h1>
    <h2 class="page-description">{{ site.subtitle }}</h2>
    <a href="https://itunes.apple.com/jp/podcast/rehash.fm/id1192730195?mt=2" title="Subscribe on iTunes"><img src="http://rehash.fm/assets/Get_it_on_iTunes_Badge_US_1114.svg" alt="Subscribe on iTunes" style="border:0;" /></a>
    <a href="http://subscribeonandroid.com/feeds.soundcloud.com/users/soundcloud:users:279916735/sounds.rss" title="Subscribe on Android"><img src="https://assets.blubrry.com/soa/BadgeLarge.png" alt="Subscribe on Android" style="border:0;" /></a>
    <div class="nav">
        <ul>
            <li><a class="page-link" href="{{ site.github.url | prepend: site.baseurl}}/" title="Home">Home</a></li>

            {% assign pages = site.pages | sort:"weight"  %}
            {% for my_page in pages %}

            {% if my_page.menutitle %}
            {% assign title = my_page.menutitle %}
            {% elsif site.title %}
            {% assign title = my_page.title %}
            {% endif %}

            {% if title and my_page.visible != false %}
            <li><a class="page-link" href="{{ my_page.url | prepend: site.github.url | prepend: site.baseurl}}" title="{{ title }}">{{ title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</header>
